
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Titillium+Web:wght@600;700;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem 5rem 2rem 5rem;
    font-family: 'Lora', serif;
}


@media (max-width : 675px) {
    body {
        padding: 1rem 1rem 2rem 1rem;
    }
}

h1,
h2,
h3 {
    font-size: 1rem;
    font-weight: normal;
}

img {
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
}